@font-face {
	font-family: 'Mulish';
	src: url('../../fonts/Mulish-Regular.eot');
	src: local('☺'), url('../../fonts/Mulish-Regular.woff') format('woff'), 
        url('../../fonts/Mulish-Regular.ttf') format('truetype'), 
        url('../../fonts/Mulish-Regular.svg') format('svg');
	font-weight: 400px;
	font-style: normal;
}
@font-face {
	font-family: 'DM Sans';
	src: url('../../fonts/DMSans-Bold.eot');
	src: local('☺'), url('../../fonts/DMSans-Bold.woff') format('woff'),
        url('../../fonts/DMSans-Bold.ttf') format('truetype'), 
        url('../../fonts/DMSans-Bold.svg') format('svg');
	font-weight: 700px;
	font-style: bold;
}
* {
    margin: 0 auto;
    box-sizing: border-box;
}
.wrapper {
    width: 1115px;
    margin: 0 auto;
}
.nav {
    display: flex;
    align-items: center;
    margin-top: 44px;
    margin-bottom: 100px;
}
.nav img {
    cursor: pointer;
    margin: 0;
}
.menu > ul {
    display: flex;
    list-style-type: none;
    
}
.menu > ul > li a {
    padding: 0 49px 0 0;
    text-decoration: none;
    font-family: DM Sans;
    font-size: 15px;
    color: #696871;
}
.nav-btn {
    width: 211px;
    height: 60px;
    background: #FF7143;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-family: DM Sans;
    font-size: 17px;
    margin: 0;
}
.nav-btn:hover {
    background: #9F3919;
}
.nav-btn:active {
    opacity: 50%;
}
.block-1 {
    width: 1146px;
    height: 644px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: space-between;
}
.block-1 p {
    width: 459px;
    height: 90px;
    font-family: Mulish;
    font-size: 20px;
    color: #696871;
    margin-bottom: 9%;
}
.block-1-h1 {
    font-family: DM Sans;
    width: 462px;
    height: 231px;
    font-size: 80px;
    margin-top: 92px;
    line-height: 77px;
}
.block-1-btn {
    width: 211px;
    height: 60px;
    position: relative;
    right: 35%;
    bottom: 90px;
    background: #5454D4;
    border-radius: 10px;
    cursor: pointer;
    font-family: DM Sans;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
}
.arrow-down {
    position: relative;
    right: 32%;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    cursor: pointer;
    border-radius: 30px;
    padding: 17px;
    bottom: 90px;
}
.arrow-down:hover {
    transform: scale(1.1);
}
.arrow-down:active {
    opacity: 75%;
}
.block-1-opt {
    display: flex;
}
.hero3D {
    left: 50%;
    position: absolute;
}
.partners {
    display: flex;
    margin-top: 100px;
}
.subscription {
    margin-top: 160px;
    display: flex;
}
.subscription h2 {
    font-family: DM Sans;
    font-size: 50px;
    line-height: 57px;
    color: #19191B;
} p {
    font-family: Mulish;
    font-size: 20px;
    line-height: 30px;      
    color: #696871;
} a {
    font-family: DM Sans;
    font-size: 17px;
    line-height: 22px;
    color: #5454D4;
    text-decoration: none;
}
.content-img {
    margin: 0 38px 0 70px;
}
.subscription-text {
    margin-top: 125px;
    width: 481px;
    height: 229px;
} h2 {
    margin-bottom: 30px;
} p {
    margin-bottom: 30px;
}
.metrics {
    display: flex;
    margin-top: 85px;
}
.metrics-x {
    margin-left: 61px;
} 
.metrics-x h2 {
    font-family: DM Sans;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    color: #19191B;
}
.metrics-x p {
    width: 459px;
    font-family: Mulish;
    font-size: 20px;
    line-height: 30px;
    color: #696871;
}
.metrics-x a {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #5454D4;
}
.metrics-img {
    position: absolute;
    left: 59%;
}
.metrics-xs {
    margin-top: 180px;
}
.info-w {
    width: 1111px;
    margin-top: 255px;
    display: flex;
    margin-bottom: 150px;
    margin-right: 200px;
    align-items: flex-end;
} 
.info-w img {
    display: block;
    margin-bottom: 20px;
    margin-right: 85px;
}
.info-p p {
    width: 307px;
    font-family: Mulish;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #696871;
} 
.info-p h4 {
    margin-bottom: 20px;
    font-family: DM Sans;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.750316px;
    color: #19191B;
} 
.price-box {
    height: 695px;
    margin-bottom: 174px;
}
.future-prod {
    display: flex;
    align-items: center;
    margin-bottom: 98px;
}
.price-plan {
    width: 523px;
    margin-right: 250px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;letter-spacing: -1.87579px;
    color: #19191B;
}
.price-in-btn {
    display: flex;
    width: 344px;
    height: 65px;
    background: #F7F7FB;
    border-radius: 10px;
    padding: 5px;
}
.price-btn-right {
    width: 160px;
    height: 55px;
    border: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;text-align: center;
    letter-spacing: -0.500211px;
    color: black;
    background: none;
    cursor: pointer;
}
.price-btn-right:hover {
    border-radius: 10px 0px 0px 10px;
    background: #5454D4;
    color: white;
}
.price-btn-left {
    width: 160px;
    height: 55px;
    border: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;text-align: center;
    letter-spacing: -0.500211px;
    color: #19191B;
    background: none;
    cursor: pointer;
}
.price-btn-left:hover {
    background: #5454D4;
    color: white;
    border-radius: 0px 10px 10px 0px;
}
.container-full-bg {
    display: flex;
}
.container-block-bg {
    width: 330px;
    height: 441px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F8F8F8;
    border-radius: 10px;    
}
.container-block-bg:hover {
    transform: scale(1.1);
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
    border-radius: 10px;
}
.container-block-bg:hover .price-h4  {
    color: white;
}
.container-block-bg:hover .price-1-h2 {
    color: white;
}
.container-block-bg:hover .priceBlock3-h2 {
    color: white;
}
.container-block-bg:hover p {
    color: white;
}
.container-block-bg:hover button {
    background: #9F3919;
    border-radius: 10px;
    border: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
}
.container-block-bg:active button {
    opacity: 50%;
}
.container-block-bg p {
    width: 136px;
    height: 150px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #696871;
}
.price-h4 {
    margin-top: 34px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;text-align: center;
    letter-spacing: -0.562737px;
    color: #696871;
}
.price-1-h2 {
    margin-top: 22px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
}
.priceBtnOne {
    width: 285px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #5454D4;
    cursor: pointer;
}
.priceBlock2-h2 {
    width: 200px;
    height: 56px;
}
.priceBlock3-h2 {
    height: 56px;
    margin-top: 22px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
}
.priceBlock3-h2 b {
    font-size: 20px;
}
.paragraphBlockOne {
    width: 118px;
    height: 150px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 50px;text-align: center;
    letter-spacing: -0.531474px;
    color: #696871;
}
.paragrahpBlockTwo {
    width: 131px;
}